.error {
    color: red;
}


/* Login//////////////////////////////////////////////////////////////////////////////////////////////// */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* END Login//////////////////////////////////////////////////////////////////////////////////////////////// */


/* TABLE //////////////////////////////////////////////////////////////////////////////////////////////// */

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


/* END TABLE//////////////////////////////////////////////////////////////////////////////////////////////// */


/* footer //////////////////////////////////////////////////////////////////////////////////////////////// */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 229, 229);
    color: rgb(0, 0, 0);
    text-align: center;
}


/* END footer//////////////////////////////////////////////////////////////////////////////////////////////// */


/* CARD ITEMS//////////////////////////////////////////////////////////////////////////////////////////////// */

.button:hover {
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}


/* CARD ITEMS//////////////////////////////////////////////////////////////////////////////////////////////// */